@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    @apply w-full h-full;
}

textarea {
    outline: none;
    resize: none;
    font-family: inherit;
    font-size: inherit;
    background-color: transparent;
    box-shadow: none;
}

.button {
    @apply border-gray-950 border px-4 py-2 rounded-lg;
}

.postcard-container {
    @apply grid grid-cols-2 gap-6 object-cover relative left-2/3 top-1/2 -translate-x-1/2 -translate-y-1/2 p-6 border-gray-950 border rounded-lg overflow-hidden;
    aspect-ratio: 3/2;
    max-width: 53.6%;
    max-height: 80%;
    background-image: url("/postcard.jpg");
    background-position: center;
    background-size: cover;
}

.outro-animation {
    animation-duration: 0.75s;
    animation-timing-function: ease-out;
    animation-play-state: paused;
    animation-name: outro;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.intro-animation {
    animation: 0.75s ease-out intro;
    animation-play-state: paused;
}

@keyframes outro {
    to {
        transform: translateY(-100%);
    }
}

@keyframes intro {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

.image {
    @apply object-cover h-full w-full;
}

.background {
    @apply w-full h-full;
    background-image: url("/background.jpg");
    background-position: center;
    background-size: cover;
}

::file-selector-button {
    display: none;
}
